<!-- This template serves as the "base" of all the others. Hence the name-->
<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title> {{ title }} - Cursd-blog</title>
        {% else %}
        <title>Welcome to Cursd-blog</title>
        {% endif %}
    </head>
    <body>
<!-- The following section is where other -->
        <div>Cursd-blog: 
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        
        </div>
        <hr>
<!-- 'With' construct assigns get_flashed_messages() -->
 <!-- get_flashed_messages() comes from Flask, returns all messages registered w/ flash() -->
  <!-- once flashed messages are requested, they are removed from the messages list. 
   Therefore they only appear once after flash() is called-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>